.catalog-main__title{
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  padding-left: 20px;
  color: #000000;
  margin-bottom: 70px;

  &::after{
    content: "";
    position: absolute;
    width: 320px;
    height: 0px;
    border: 1px solid #D9D9D9;
    margin-top: 90px;
    margin-left: -276px;
  }
}
.catalog-main__production{
  padding-left: 20px;

  .production__product{
    display: flex;
    flex-wrap: wrap;

    .product__title{
      margin-top: -55px;
      font-family: Oswald;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      display: flex;
      align-items: center;
      text-transform: uppercase;
      color: #222222;
    }

    .product__table{
      display: flex;
      justify-content: space-between;
      width: 142px;
      margin-left: 137px;
      margin-top: -60px;

      &::after{
        content: "";
        position: absolute;
        width: 320px;
        height: 0px;
        border: 1px solid #D9D9D9;
        margin-top: 150px;
        margin-left: -156px;
      }

      .table__center{
        display: flex;
        justify-content: flex-end;
        font-weight: normal;
        width: 95px;
        font-size: 12px;
        line-height: 18px;
        text-align: center;
        color: #444444;
      }
    }

    .product__btn{
      font-family: Oswald;
      width: 280px;
      height: 40px;
      font-size: 16px;
      line-height: 20px;
      margin-top: 12px;
      margin-bottom: 44px;
      color: #FFFFFF;
      background-color: #68B738;
      text-align: center;
      align-items: center;
      text-decoration: none;
      text-transform: uppercase;
      cursor: pointer;
      border: 0px;
    }
  }
}
