.advantages{
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  width: 280px;

  .advantages__title{
    margin-left: 20px;
    min-width: 225px;
    height: 40px;
    font-family: Oswald;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
  }

  .advantages__list{
    list-style: none;

    .advantages__item{
      display: flex;
      margin-left: -20px;

      .advantages__inf{
        margin-top: -1px;
        margin-bottom: 23px;
        margin-left: 20px;
        font-size: 13px;
        line-height: 18px;
      }
    }
  }
}
