.page-main__inf{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url("../../img/Group-mobile.png");
  background-repeat: no-repeat;
  height: 480px;

    .inf__title{
      font-family: Oswald;
      font-weight: normal;
      font-style: normal;
      font-size: 36px;
      line-height: 36px;
      color: #FFFFFF;
      margin-top: 27px;
      margin-bottom: 0px;
    }

    .inf__intro{
      margin-top: 10px;
      margin-bottom: 290px;
      padding: 0px auto;
      color:#FFFFFF;
      font-size: 12px;
      line-height: 12px;
    }

    .inf__program{
      font-family: Oswald;
      width: 280px;
      height: 27px;
      font-size: 14px;
      line-height: 18px;
      color: #FFFFFF;
      background-color: #68B738;
      text-align: center;
      align-items: center;
      text-decoration: none;
      text-transform: uppercase;
      padding-top: 9px;


    }
}
